/* Reset inicial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Corpo da página */
body {
    background-color: rgb(232, 221, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}


/* Header */
h1 {
    text-align: center;
    color: #333;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

p {
    padding-bottom: 50px;
    text-align: center;
}

/* Main */
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estrutura de 2 colunas */
.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.coluna-esquerda,
.coluna-direita {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

/* Tabela */
.coluna-direita table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    table-layout: auto;
}

.coluna-direita th,
.coluna-direita td {
    border: 1px solid #333;
    padding: 12px 16px;
    text-align: center;
    white-space: nowrap;
}

/* Inputs e botões */
input[type="number"] {
    background-color: #fff;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
}

input[type="number"]:focus {
    border-color: #f0c040;
    outline: none;
    box-shadow: 0 0 8px #f0c040;
}

input::placeholder {
    color: #888;
    font-style: italic;
}

.btn {
    background-color: #3cff00;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px #28a745;
}

.numeroInvalido {
    display: none;
    color: #ff0000;
    margin-top: 20px;
}

/* Rodapé */
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

/* Modal */
#conteudo-principal {
    display: block;
}

.popup {
    display: none; /* só aparece quando o JS ativa */
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    align-items: center;
    justify-content: center;

    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 40px;
    width: 500px;
    max-width: 90%;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-content h1 {
    font-size: 35px;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
}

.resultado p {
    margin: 0;
    padding-bottom: 8px;
}

.resultado strong {
    color: #333;
}